body {
    /*background-color: red;*/
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}
h1 {
    font-size: 12vw;
    font-family: 'Azeret Mono', monospace;
}
p {
    font-family: "Roboto", "Plus Jakarta", sans-serif;
}
button {
    background: none;
    border: none;
    font-size: 1em;
    color: black;
}
#underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: red;*/
    z-index: 1;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /*background: rgba(42, 240, 0, 0.55); /* Adjust the alpha value for the desired transparency */
}
#countdown0 {margin: 0; padding: 0;}
#countbox { /*  flexboxen   */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 600;
}
#col1 {
    display: flex;
    flex-direction: column;
}
#row1 {
    display: flex;
    flex-direction: row;
}
.tag {
    margin-top: -20px;
    padding-top: 0;
    width: 18.181818%;
    text-align: center;
    p {
        font-family: 'Azeret Mono', monospace;
        letter-spacing: 4px;
    }
}
.gappa {
    margin-left: 9.090909%;
}
#screenbutton {
    top: 1em;
    left: 1em;
    position: absolute;
    z-index: 600;
}